p1{
    color: blue;
}

p::first-line{
    color:red;
}

h1.blau{
    color:blue;
}


li {
    color: #757575;
    font-family: "Inter", Sans-Serif;
    font-weight: 550;
    font-size: 13pt;
    margin-left: 25px;
    display: inline;
    margin-right: 5px;
    float: right ;
}

a.activo:active{
    background-color: yellow;
    color: red;
}

p a:link{
    color:blue;
    background-color: white;
}
p a:visited {
    color:white;
    background-color: blue;
}
